Source: pacemaker
Section: admin
Priority: optional
Maintainer: Andrew Beekhof <abeekhof@suse.de>
Build-Depends: debhelper (>= 5.0.37.2), libglib2.0-dev, perl, net-tools, python, libtool, libcurl4-openssl-dev | libcurl3-openssl-dev, libxml2-dev, bison, flex, uuid-dev, libbz2-dev, zlib1g-dev, uuid-dev, libltdl3-dev, libgnutls-dev, python-central (>= 0.5), python-dev, libpam0g-dev, libncurses5-dev, libxslt-dev
Standards-Version: 3.7.2
XS-Python-Version: current

Package: pacemaker
Section: admin
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, heartbeat
Recommends: openais
XB-Python-Version: ${python:Versions}
Description: High-Availability cluster resource manager for Heartbeat and/or OpenAIS
 Pacemaker supports a very sophisticated dependency model for n-node
 clusters and can respond to node and resource-level failures.
 .
 It supports both the Heartbeat (Linux-HA) and OpenAIS cluster stacks.

Package: pacemaker-dev
Section: devel
Priority: optional
Architecture: any
Depends: pacemaker (= ${binary:Version}), ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: High-Availability cluster resource manager for Heartbeat and/or OpenAIS - development files
 Pacemaker supports a very sophisticated dependency model for n-node
 clusters and can respond to node and resource-level failures.
 .
 It supports both the Heartbeat (Linux-HA) and OpenAIS cluster stacks.
 .
 This package contains development files
