Source: pacemaker
Section: admin
Priority: optional
Maintainer: Andrew Beekhof <abeekhof@suse.de>
Build-Depends: debhelper (>= 5.0.37.2), libsnmp-dev, libglib2.0-dev, perl, net-tools, python, libnet1-dev, libtool, libcurl4-openssl-dev | libcurl3-openssl-dev, libxml2-dev, bison, flex, uuid-dev, libbz2-dev, zlib1g-dev, uuid-dev, libltdl3-dev, openssh-client, libgnutls-dev, python-central (>= 0.5), python-dev, libpam0g-dev, libncurses5-dev
Standards-Version: 3.7.2
XS-Python-Version: current

Package: pacemaker
Section: admin
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, heartbeat
Recommends: openais
XB-Python-Version: ${python:Versions}
Description: Subsystem for High-Availability Linux
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.

Package: pacemaker-dev
Section: devel
Priority: optional
Architecture: any
Depends: pacemaker (= ${binary:Version}), ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Subsystem for High-Availability Linux - development files
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.
 .
 This package contains development files
