Source: heartbeat-2
Section: admin
Priority: optional
Maintainer: Simon Horman <horms@debian.org>
Build-Depends: debhelper (>= 4.0.0), libsnmp5-dev | libsnmp4.2-dev, libglib1.2-dev, perl, net-tools, netkit-ping | iputils-ping, python, psmisc, modutils, libnet1-dev, iproute, libssl-dev, libtool, automake, libcurl3-dev, libxml2-dev, bison, flex, uuid-dev, libopenipmi-dev (>= 2.0.1), lynx
Standards-Version: 3.6.2

Package: ldirectord-2
Section: admin
Priority: optional
Architecture: all
Depends: ${perl:Depends}, libdigest-md5-perl, libwww-perl, libnet-ssleay-perl, libmail-imapclient-perl, libdigest-hmac-perl, libnet-ldap-perl, libnet-dns-perl, libdbi-perl, ipvsadm
Recommends: sysklogd|syslog-ng, logrotate
Provides: ldirectord
Description: Monitors virtual services provided by LVS
 ldirectord is a stand-alone daemon to monitor services of real
 for virtual services provided by The Linux Virtual Server
 (http://www.linuxvirtualserver.org/). It is simple to install
 and works with the heartbeat code (http://www.linux-ha.org/).

Package: heartbeat-2
Section: admin
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, python, iproute, adduser, netkit-ping | iputils-ping
Recommends: sysklogd | syslog-ng | system-log-daemon, logrotate
Provides: heartbeat libpils0 libstonith0 stonith
Description: Subsystem for High-Availability Linux
 heartbeat is a basic heartbeat subsystem for Linux-HA.
 It will run scripts at initialisation, and when machines go up or down.
 This version will also perform IP address takeover using gratuitous ARPs.
 It works correctly for a 2-node configuration, and is extensible to larger
 configurations.
 It implements the following kinds of heartbeats:
   * Bidirectional Serial Rings ("raw" serial ports)
   * UDP/IP broadcast (ethernet, etc)

Package: heartbeat-2-dev
Section: devel
Priority: optional
Architecture: any
Depends: heartbeat (= ${Source-Version})
Provides: heartbeat-dev, libstonith-dev libpils-dev
Description: Subsystem for High-Availability Linux - development files
 Headers and Libraries for developing modules to work with Heartbeat
