/* general page appearance */

body {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	border: 0;
	}

#_site {
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	margin: 6pt auto;
	padding: 0pt;
	border: thin solid red;
	background: #FFFFFF;
	color: #333333;
	font-size: 12pt;
	}

a:link, a:visited {
	color: #202080;
	font-weight : bold; 
	text-decoration : none;
	}

a:hover {
	color: red;
	font-weight:	bold; 
	text-decoration: underline;
	}

img	{
	border: 0;
	}

dl,ul,ol,li,p {
    margin-top: 1pt;
}

tt, pre	{
    font-family: Lucida Console,Courier New,Courier,monospace;
	}

pre {
    margin-left: 4pt;
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #FFFFEE;
    white-space: pre;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    color:#111111;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 1%;
    width: 90%;
}

	
h1,h2,h3,h4,h5 {
    font-family: verdana, lucida, arial, helvetica, sans-serif;
    font-weight: normal;
    color: #202080;
    margin-top:2pt;
    margin-bottom:8pt;
    /* border-bottom:thin solid #ccc; */
}
h1 {
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    width: 99.6%;
}
h2 {
    font-size: 130%;
    font-weight: bold;
    width: 99.2%;
}
h3 {
    font-size: 115%;
    font-weight: bold;
    width: 98.8%;
}
h4 {
    font-size: 105%;
    width: 98.4%;
}
h5 {
    font-size: 95%;
    width: 98.0%;
}

/*************************
 * Layout
 *************************/

/* Header and Top Menu */

#_header {
	border: 0;
	margin: 2pt;
	padding: 2pt;
	}

#_header img	{
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Menu across the top of the page */
#_menu table {
	width:		100%;
	background:	white;
	border-bottom:	2pt solid red;
	border-top:	2pt solid red;
	}

#_menu td a {
	padding: 2pt;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: normal;
	width: 80pt;
	}

#_menu a:hover {
	background: #FFFFFF;
	font-weight: bold;
	background: #E0E0E0;
	}

/* Content: the whole web site... */

#_pagebody {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: left;
	clear: both;
	}

#_content {
	background: #FFFFFF;
	margin: 0;
	padding: 6pt;
	}

#_content table {
	border: 1pt solid #cccccc;
	margin: 2pt;
	padding: 1pt;
	}

#_content tr td {
	margin: 0;
	padding: 0;
	border: 0;
	}

#_content ul {
	margin-top: 14pt;
	}
#_content li p {
	margin-top: -0.5em;
	}
#_content ul ul {
	margin-left: -2ex;
	margin-top: 0.5em;
	margin-bottom: 1em;
	}

#_content ol ul {
	margin-left: -3ex;
	margin-top: -1em;
	margin-bottom: 1em;
	}

/* Sidebar - currently on right side */
#_sidebar {
	padding: 0;
	padding-top: 1pt;
	border: 32pt;
	padding-left: 8pt;
	border-left: thin solid red;
	border-bottom: thin solid red;
	padding-right: 6pt;
	margin-bottom: 16pt;
	/* height: 100%; No! has weird overlay effects with FireFox, maybe others, too... */
	float: right;
	display: block;
	width: 25ex;
	font-size: 10pt;
	background: white;
	}

#_sidebar img {
	border: 0;
	margin: 2pt;
	}

#_sidebar p	{
	text-align: left;
	}
	
#_sidebar table {
	background: #FFFFFF;
	border: thin solid #CCCCCC;
	border-top-width: 0pt;
	padding-top: 0pt;
	margin-top: 0pt;
	}
#_sidebar ul {
	border-top-width:	0pt;
	padding-top:		0pt;
	margin-top:		0pt;
	border-bottom-width:	0pt;
	padding-bottom:		0pt;
	margin-bottom:		0pt;
}
#_sidebar p {
	border-top-width:	0pt;
	padding-top:		0pt;
	margin-top:		0.5em;
	border-bottom-width:	0pt;
	padding-bottom:		0pt;
	margin-bottom:		0pt;
}

/* Menu running down the right side of the page */
/* Contained in the sidebar */
 
#_mainmenu	{
	margin-top: 8pt;
	margin-bottom: 12pt;
	font-size: 11pt;
	}

#_mainmenu ul {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
			
#_mainmenu li {
	margin: 0;
	padding: 0;
	list-style: none;
	}	


#_mainmenu a {
	display: block;
	font-weight: normal;
	text-decoration: none;
	}

#_mainmenu strong a {
	/* padding-top: .25em;
	border: thin solid #C0C0C0;
	 */
	display: block;	
	font-weight: bold;
	}

#_mainmenu a:hover {
	background: #E0E0E0;
	font-weight:	bold; 
}


/* Announcement "slashbox" area */
/* Contained in the sidebar */
#_slashboxes {
	font-size: 8pt;
	/* text-align: center; */
}

#_slashboxes table {
	font-size: 11pt;
	border: thin solid #C00D0D;
}

#_slashboxes strong {
	display: block;
	background: #EEE;
	border: thin solid #CCCCCC;
	text-align: center;
	}
	
#_slashboxes a {
	text-decoration: none;
}

#_slashboxes b a:hover {
	background: #FFFFFF;
}

/* Footer */

#_footer {
	border: 0;
	border-top: thin solid red;
	padding: 3pt 5pt 5pt 7pt;
	text-align: left;
	clear: both;
	font-size: x-small;	
	}

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size : 105%; 
	}
