/* general page appearance */

body {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	border: 0;
	}

#i_site {
	font-family: lucida, verdana, arial, helvetica, sans-serif;
	margin: 6pt auto;
	padding: 0pt;
	border: 1px solid red;
	background: #FFFFFF;
	color: #333333;
	font-size: 11pt;
	}

a:link, a:visited {
	color: #101080;
	text-decoration : none;
	}

a:hover {
	color: red;
	text-decoration: underline;
	}

img	{
	border: 0;
	}

dl,ul,ol,li,p {
    margin-top: 1pt;
}

tt, pre	{
    font-family: Lucida Console,Courier New,Courier,monospace;
	}

pre {
    margin-left: 4pt;
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #FFFFEE;
    white-space: pre;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    color:#111111;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 1%;
    width: 90%;
}

	
h1,h2,h3,h4,h5 {
    font-family: verdana, lucida sans, lucida, FreeSans, arial, helvetica, sans-serif;
    font-weight: normal;
    color: #202080;
    margin-top:2pt;
    margin-bottom:8pt;
    /* border-bottom:thin solid #ccc; */
}
h1 {	/* no 'h1' elements come out of the wiki :-( */
    font-family: Lucida Sans Typewriter, verdana, lucida sans, lucida, FreeSans, helvetica, sans-serif;
    font-size: 175%;
    width: 99.6%;
}
h2 {
    font-family: lucida sans typewriter, verdana, lucida sans, FreeSans, helvetica, sans-serif;
    font-size: 175%;
    width: 99.6%;
}
h3 {
    font-size: 150%;
    width: 98.8%;
}
h4 {
    font-size: 130%;
    width: 98.4%;
}
h5 {
    font-size: 115%;
    width: 98.0%;
}

/*************************
 * Layout
 *************************/

/* Header and Top Menu */

#i_header {
	border: 0;
	margin: 2pt;
	padding: 2pt;
	text-align: center;
	}

#i_header img	{
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -12pt;
	}
#i_header a {
	border: 0;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
	color: black;
}

/* Menu across the top of the page */
#i_menu table {
	width:		100%;
	background:	white;
	border-bottom:	3px solid red;
	border-top:	3px solid red;
	}

#i_menu td a {
	padding: 2pt;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: normal;
	width: 80pt;
	}

#i_menu a:hover {
	background: #FFFFFF;
	font-weight: bold;
	background: #E0E0E0;
	}

/* Content: the whole web site... */

#i_pagebody {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: left;
	clear: both;
	}

#i_content {
	background: #FFFFFF;
	margin: 0;
	padding: 6pt;
	}

#i_content table {
	border: 1pt solid #cccccc;
	margin: 2pt;
	padding: 1pt;
	}

#i_content tr td {
	margin: 0;
	padding: 0;
	border: 0;
	}

#i_content ul {
	margin-top: 14pt;
	}
#i_content li p {
	margin-top: -0.5em;
	}
#i_content ul p {
	margin-top: 0.5em;
	}
#i_content ul ul {
	margin-left: -2ex;
	margin-top: 0.5em;
	margin-bottom: 1em;
	}

#i_content ol ul {
	margin-left: -3ex;
	margin-top: -1em;
	margin-bottom: 1em;
	}

/* Sidebar - currently on right side */
#i_sidebar {
	padding: 0;
	padding-top: 1pt;
	border: 32pt;
	padding-left: 8pt;
	border-left: 1px solid red;
	border-bottom: 1px solid red;
	padding-right: 6pt;
	margin-bottom: 16pt;
	/* height: 100%; No! has weird overlay effects with FireFox, maybe others, too... */
	float: right;
	display: block;
	width: 25ex;
	font-size: 10pt;
	/* background: white; */
	background-color:#f9f9f9;
	}

#i_sidebar img {
	border: 0;
	margin: 2pt;
	}

#i_sidebar p	{
	text-align: left;
	}
	
#i_sidebar table {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-top-width: 0pt;
	padding-top: 0pt;
	margin-top: 0pt;
	}
#i_sidebar ul {
	border-top-width:	0pt;
	padding-top:		0pt;
	margin-top:		0pt;
	border-bottom-width:	0pt;
	padding-bottom:		0pt;
	margin-bottom:		0pt;
}
#i_sidebar p {
	border-top-width:	0pt;
	padding-top:		0pt;
	margin-top:		0.5em;
	border-bottom-width:	0pt;
	padding-bottom:		0pt;
	margin-bottom:		0pt;
}

/* Menu running down the right side of the page */
/* Contained in the sidebar */
 
#i_mainmenu	{
	margin-top: 4pt;
	margin-bottom: 11pt;
	font-size: 10pt;
	}

#i_mainmenu ul {
	margin: 0;
	padding: 0;
	border: 0;
	}


#i_mainmenu li {
	margin: 0;
	margin-top: -0.3em;
	padding: 0;
	list-style: none;
	}	


#i_mainmenu a {
	display: block;
	font-weight: normal;
	text-decoration: none;
	}

#i_mainmenu strong a {
	/* padding-top: .25em;
	border: thin solid #C0C0C0;
	 */
	display: block;	
	font-weight: bold;
	}

#i_mainmenu a:hover {
	background: #E0E0E0;
	font-weight:	bold; 
}


/* Announcement "slashbox" area */
/* Contained in the sidebar */
#i_slashboxes {
	font-size: 8pt;
	/* text-align: center; */
}

#i_slashboxes table {
	font-size: 11pt;
	border: thin solid #C00D0D;
}

#i_slashboxes strong {
	display: block;
	background: #EEE;
	border: thin solid #CCCCCC;
	text-align: center;
	}
	
#i_slashboxes a {
	text-decoration: none;
}

#i_slashboxes b a:hover {
	background: #FFFFFF;
}

#i_search table {
	/* background: #FFFFFF; */
	background-color:#f9f9f9;
	border: none;
	padding-top: 0pt;
	padding-bottom: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	}

/* Footer */

#i_footer {
	border: 0;
	border-top: thin solid red;
	padding: 3pt 5pt 5pt 7pt;
	text-align: left;
	clear: both;
	font-size: x-small;	
	}

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size : 105%; 
	}
